body{
  padding: 0;
  margin: 0;
}
.c1,.c2{
  height: 100%;
  padding: 0 0;
}
.navbar{
  height: 100px;
}
.navbar-brand{
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 6%;
}
a.navbar-brand {
  color: #142b6f;
  text-transform: uppercase;
}
.navbar-brand img{
  height: 68px;
  width: 68px;
}
.navbar-brand span{
  padding: 0 2%;
  color: #FFBF18 ;
}
.form{
  padding:8%;
  padding-bottom: 3%;
}
.form h2{
  letter-spacing: 1px;
  line-height: 14px;
  border-radius: 6px;
  margin-bottom: 10%;
  color: #4f49ec;
}
label.txt{
  color: #4f49ec;
}
.form textarea{
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  border: 2px solid #4f49ec;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 18px;
  color: #4f49ec;
  resize: none;
  height: 220px;
  margin-bottom: 10%;
}

.form input{
  width: 100%;
  padding: 5% 0;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  background-color: #fff;
  margin: 2% 0;
}
.form input.sub{
  color: #4f49ec;
  border: 3px solid #4f49ec;
  background-image: #fff;
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: 100%;
  transition: background 300ms ease-in-out;
}

.form input.sub:hover{
  background-position: 0%;
  background-image: linear-gradient(30deg, #4f49ec 50%, transparent 50%);
  color: #fff;
}

.form input.clear{
  color: #fff;
  border: 3px solid #FFBF18;
  background-image: linear-gradient(30deg, #FFBF18 50%, transparent 50%);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out;
}
.form input.clear:hover{
  background-position: 100%;
  color: #FFBF18;
}

.img-bg{
  background-color: #4f49ec;
}
.bg{
  background-color: #fff;
}

.header{
  color: #fff;
  font-family: monospace;
}

  